@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

$screen-xs: 359.98px;
$screen-sm: 490px;
$screen-md3: 640px;
$screen-md2: 767.98px;
$screen-md1: 991.98px;
$screen-lg: 1023.98px;
$screen-xl: 1199.98px;
