// Hero section
.hero-section__bg-blur-1 {
    left: -25%;
    top: 5%;
    width: 361px;
    height: 300px;
    background: rgba(29, 78, 216, 0.45);
}
.hero-section__bg-blur-2 {
    width: 300px;
    height: 220px;
    right: -5%;
    top: 13%;
    background: #5141da;
}
.hero-section__bg-blur-3 {
    width: 131px;
    height: 109px;
    right: 36%;
    top: 15%;
    background: #d946ef;
}

// Our Service -----------
.service__bg-blur-1 {
    width: 293px;
    height: 367px;
    left: 5%;
    top: 10%;

    background: rgba(29, 78, 216, 0.79);
}
.service__bg-blur-2 {
    width: 251px;
    height: 340px;
    top: 13%;
    right: 30%;
    background: rgba(217, 70, 239, 0.43);
}
.service__bg-blur-3 {
    width: 251.35px;
    height: 340px;
    top: 11%;
    right: -3%;
    background: #5141da;
}
.service__bg-blur-4 {
    width: 251.35px;
    height: 283px;
    bottom: 0;
    left: -10%;
    background: rgba(217, 70, 239, 0.43);
}
.service__bg-blur-5 {
    width: 293px;
    height: 594px;
    bottom: -14%;
    right: -10%;
    background: rgba(29, 78, 216, 0.79);
}

// Section blur
.section__bg-blur-1 {
    width: 314px;
    height: 542px;
    top: 0;
    left: 0;
    background: rgba(29, 78, 216, 0.79);
}
.section__bg-blur-2 {
    top: -60px;
    right: 44%;
    width: 293px;
    height: 513px;
    background: rgba(29, 78, 216, 0.79);
}
.section__bg-blur-3 {
    top: 0;
    right: 0;
    width: 251px;
    height: 483px;
    background: rgba(217, 70, 239, 0.43);
}

// Team Section ------
.team-section-blur-1 {
    width: 251px;
    height: 337px;
    left: -10%;
    top: 20%;
    background: rgba(217, 70, 239, 0.43);
}
.team-section-blur-2 {
    width: 251px;
    height: 337px;
    left: 21%;
    top: 20%;
    background: #5141da;
}
.team-section-blur-3 {
    width: 293px;
    height: 358px;
    right: 23%;
    top: 0;
    background: rgba(29, 78, 216, 0.79);
}
.team-section-blur-4 {
    width: 251px;
    height: 337px;
    right: -15%;
    top: 10%;
    background: rgba(217, 70, 239, 0.43);
}

// Subscrib Section
.subscriber-blur-1 {
    width: 293px;
    height: 361px;
    top: -5%;
    left: 2%;
    background: linear-gradient(166.77deg, #2f79cb -29%, #af51c5 141.21%), #af51c5;
}
.subscriber-blur-2 {
    width: 251px;
    height: 340px;
    top: 5%;
    right: 30%;
    background: linear-gradient(180deg, #bc7fd9 0%, #923283 100%);
}
.subscriber-blur-3 {
    width: 251px;
    height: 340px;
    top: 0;
    right: -5%;
    background: linear-gradient(180deg, #8684ed 0%, #4247bb 100%);
}
